<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="stylesheets/pygments.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/polytexnic.css" media="screen" rel="stylesheet" type="text/css" />
    <% if @local_server %>
      <script src="/jquery/1.10.2/jquery-1.10.2.js" ></script>
      <script src="/refresh.js"></script>
    <% end %>
    <title><%= @title %></title>
    <% if @mathjax %>
      <script type="text/x-mathjax-config">
        <%= @mathjax %>
      </script>
      <script type="text/javascript" src="<%= @src %>"></script>
    <% end %>
  </head>
  <body>
    <div id="book">
      <%= @html %>
    </div>
  </body>
</html>
