*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
*.aux
*.tmp.*
spec/fixtures/book/
spec/fixtures/non-book/
pygments.sty
.api_token
.project_id
spec/fixtures/md-book/log/tralics.log
.ruby-*
.idea
.rakeTasks