body {
  font-family: Georgia, serif;
}
h1 {
  font-size: 230%;
  padding-top: 1em;
}
h2 {
  font-size: 180%;
}

h1.title {
  text-align: center;
}

h1.subtitle {
  border-top: none;
  padding-top: 0;
  margin: 0;
  text-align: center;
  font-size: 140%;
}

h2.author {
  margin-top: 1em;
  text-align: center;
}

.preamble {
  display: block;
  margin-top: 2em;
}

.number {
  margin-right: 1em;
}

h1 span.number {
  display: block;
  margin-bottom: 0.5em;
  font-size: 80%;
}

a.heading {
  color: black;
  text-decoration: none;
}

a.section  {
  color: #070707;
  text-decoration: none;
}

a, a:visited {
  color: #002f72;
}

tt {
  font-size: 100%;
}


code {
  font-family: Courier, monospace;
  font-size: 100%;
  color: darkgreen;
  font-weight: bold;
}

.code {
  font-family: Courier, monospace;
  font-size: 70%;
  font-weight: bold;
  width: 100%;
}

.codelisting {
  margin-top: 0.5em;
}

.highlight {
  border: 1px solid #999;
  background: #eee;
  padding-left: 0.5em;
}

.go {
  color: darkgreen;
}

.header {
  font-weight: bold;
  margin-right: 0.5em;
}

.sidebar {
  border: 1px solid #999;
  padding: 0.5em;
  background: #eee;
}

pre {
  line-height: 1.2em;
  font-family: monospace;
}

.figure {
  text-align: center;
  margin-top: 2em;
}

a.ref {
  color: #002f72;
}

.figure {
  text-align: center;
  margin-top: 2em;
}

.figure img {
  border: 1px solid #666;
}

.caption {
  text-align: center;
  margin-bottom: 3em;
  margin-top: 1em;
}

th {
  padding: 0.5em;
}

th.align_left {
  text-align: left;
}

th.align_center {
  text-align: center;
}

th.align_right {
  text-align: right;
}

th.left_bar {
  border-left: 1px solid black;
}

th.right_bar {
  border-right: 1px solid black;
}

td {
  padding: 0.5em;
}

td.align_left {
  text-align: left;
}

td.align_center {
  text-align: center;
}

td.align_right {
  text-align: right;
}

td.left_bar {
  border-left: 1px solid black;
}

td.right_bar {
  border-right: 1px solid black;
}

tr.top_bar {
  border-top: 1px solid black;
}

tr.bottom_bar {
  border-bottom: 1px solid black;
}

.footnotes {
  border-top: 1px solid black;
  margin-top: 2em;
  padding-top: 1em;
  font-size: 90%;
}

sup.footnote {
  font-size: 75%;
  margin-right: 5px;
}

a.arrow {
  text-decoration: none;
}

#table_of_contents ul {
  line-height: 1.2em;
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0;
}
#table_of_contents li.chapter {
  font-weight: bold;
  padding-top: 1.2em;
}
#table_of_contents a {
  color: #002F72;
  text-decoration: none;
}